<form action='/delete_bookmark', method='POST'>
  <input type='text' name='title' placeholder='Add title...' />
  <button type='submit' name='Delete Bookmark'>Delete Bookmark</button>
</form>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <li>
    <a href="<%= bookmark.url %>" target="_blank">
     <%= bookmark.title %>
    </a>
  </li>
  <% end %>
</ul>

<a href='/'>Back home</a>