<form action='/bookmarks', method='POST'>
  <input type='text' name='title' placeholder='Add title...' />
  <input type='text' name='url' placeholder='Add url...' />
  <input type='submit' name='Add Bookmark' />
</form>

<a href='/'>Back home</a>