<form action = '/bookmarks' method="post">
  <a href="/bookmarks"> View Bookmarks</a>
</form>

<form action = '/create_bookmark' method="post">
  <a href="/create_bookmark"> Create Bookmark</a>
</form>